@media(max-width: 541px) {
   .nav_list {
      display: none;
   }

   .nav_button {
      display: block;
   }

   .nav.open .nav_list {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #f2f2f2;
      z-index: 1;
      padding: 46px 30px;
      font-size: 34px;
      font-weight: 600;

   }

   .nav_button {
      position: absolute;
      z-index: 2;
      top: 46px;
      right: 30px;
      max-width: 4%;
   }

   .nav.open .nav_button {
      position: fixed;
   }

   .nav_link {
      color: #000;
      font-size: 32px;
   }

   .pic {
      height: 70vh;
   }

   .info {
      margin-top: 20vh;
   }

   .info_wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 200px;
   }

   .image {
      max-width: 90%;
      margin-bottom: 100px;
   }

   .footer {
      padding-top: 130px;
      padding-bottom: 100px;
      background-color: #000000e2;
   }
}

@media(max-width:541px) {
   .skill {
      margin-top: 180px;
      margin-bottom: 130px;
   }

   .content {
      display: flex;
      margin-bottom: 100px;
   }

   .skills_title {
      font-size: 44px;
      padding-right: 150px;
   }

   .st-css {
      padding-right: 180px;
   }

   .st-js {
      padding-right: 30px;
   }


   .st-ccc {
      padding-right: 180px;
   }

   .skills_text {
      max-width: 250px;
      font-size: 20px;
   }

   .certificates {
      display: flex;
      flex-direction: column;
   }

   .cerf-pic {
      max-width: 80%;
   }
}

@media(max-width:415px) {
   .container {
      padding: 0 40px;
   }

   .skill {
      margin-top: 180px;
      margin-bottom: 130px;
   }

   .content {
      display: flex;
      flex-direction: column;
      margin-bottom: 100px;
   }

   .skills_title {
      font-size: 44px;
      padding-bottom: 40px;
   }

   .cerf-pic {
      max-width: 100%;
   }

   .footer_into {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 70px;
   }

}